<div class="flex mt-2">
    <app-student-sidebar></app-student-sidebar>
    <div class="ml-80 mt-28 flex flex-col gap-y-12">
        <h1 class="text-2xl text-stone-300">Overview</h1>
        <div class="ml-6 flex gap-x-6 w-11/12">
            <a href="#" class="bg-stone-300 rounded-lg w-72 h-32 hover:w-80 hover:h-36 hover:shadow-black hover:shadow-lg ease-in duration-300">
                <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">On Going Courses</h2>
                <!--I need to make it in an oop version-->
                <p class="text-slate-900 text-center text-3xl pt-3">5</p>
            </a>
            <div class="bg-stone-300 rounded-lg w-72 h-32 hover:w-80 hover:h-36 hover:shadow-black hover:shadow-lg ease-in duration-300">
                <a href="#">
                    <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">Tasks</h2>
                    <!--I need to make it in an oop version-->
                    <p class="text-slate-900 text-center text-3xl pt-3">4</p>
                </a>
            </div>
            <div class="bg-stone-300 rounded-lg w-72 h-32 hover:w-80 hover:h-36 hover:shadow-black hover:shadow-lg ease-in duration-300">
                <a href="#">
                    <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">Contact Us</h2>
                    <!--I need to make it in an oop version-->
                    <div class="text-slate-900 flex items-center pt-3 pl-10 hover:pl-16 ease-in duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone w-8 h-7" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                        </svg>
                        <p class="text-2xl">78 462 72 76</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="ml-10">
            <p class="bg-stone-300 rounded-lg w-11/12 h-auto text-slate-900 p-5">
                <span class="font-semibold text-emerald-800">SunuClass</span> est une application web éducative développée avec Angular et Supabase qui facilite la gestion des classes et des utilisateurs pour les établissements scolaires.<br>
                <span class="font-semibold text-emerald-800">Étudiant (Student) :</span> accède à un tableau de bord personnalisé, peut consulter ses cours, ses devoirs, etc.<br>
                <span class="font-semibold text-emerald-800">Enseignant (Teacher) :</span> peut gérer des classes, publier du contenu, interagir avec les étudiants.
            </p>
        </div>
    </div>
</div>
