<div class="flex mt-2">
    <app-student-sidebar></app-student-sidebar>
    <div class="ml-80 mt-28 flex flex-col gap-y-12">
        <h1 class="text-2xl text-stone-300">Overview</h1>
        <div class="ml-6 flex gap-x-6">
            <div class="bg-stone-300 rounded-lg w-72 h-32">
                <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">On Going Courses</h2>
                <!--I need to make it in an oop version-->
                <p class="text-slate-900 text-center text-3xl pt-3">5</p>
            </div>
            <div class="bg-stone-300 rounded-lg w-72 h-32">
                <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">Tasks</h2>
                <!--I need to make it in an oop version-->
                <p class="text-slate-900 text-center text-3xl pt-3">4</p>
            </div>
            <div class="bg-stone-300 rounded-lg w-72 h-32">
                <h2 class="bg-slate-900 rounded-t-lg text-stone-300 p-3 text-xl text-center">Contact Us</h2>
                <!--I need to make it in an oop version-->
                <p class="text-slate-900 text-center text-3xl pt-3">78 462 72 76</p> <!--Make a version with Icon-->
            </div>
        </div>
    </div>
</div>
