/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply m-0;
    @apply p-0;
    @apply bg-gray-700;
    @apply font-sans;
}
::ng-deep .fc {
  background-color: #1a1a1a;
  color: #f1f5f9;
}
::ng-deep .fc-event {
  background-color: #1f2937 !important;
  border: none;
}
.fc-toolbar-title {
  color: #f1f5f9;
  font-weight: 600;
  font-size: 1.5rem;
}
